.port-side-list-wrap {
    .portfolio-item-thumb {
        padding:  21px;
        
        .portfolio-thumb-img img {
            width: 100%;
        }
        
        .title {
            color: $offwhite;
        }
    }
}